
.app-header{
    background-color: black;
    height: 30px;
    padding:1%;
}




.login-btn{

width:100px;
height: 20%;
float:right;
margin-bottom: 20px;
text-align: center;
font-weight: bold;
border-radius: 10%;

}

.app-logo {
    animation: app-logo-spin infinite 8s linear;
    height: 35px;
    background: #ff7f7f;
 }
 
 @keyframes app-logo-spin {
    from { transform: scaleX(-1); }
 }

 .red{
     color:red;
 }
 .dispNone{
     display: none;
 }
 .dispBlock{
     display:block;
 }